/* styles for login form */
.form-login {
    max-width: 330px;
    padding: 40px 0px 15px 0px;
    margin: 0 auto;
}

.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}

.form-login .alert {
    margin-top: 10px;
}

.form-login .checkbox {
    font-weight: normal;
}

.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* styles to center content */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: -4px;
}

/* wizard styles */
.wizard-step {
    margin-top: 15px;
    margin-bottom: 40px;
}

/* wizard indicators */
.wizard-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.wizard-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #a8a8a8;
    border: 1px solid #979797;
}

.wizard-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #979797;
}